@font-face {
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("fonts/fira-sans-v16-latin-regular.woff2") format("woff2"),
        url("fonts/fira-sans-v16-latin-regular.woff") format("woff");
}
html {
    font-size: 16px;
}

body {
    font-family: "Fira Sans", sans-serif;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem;
    box-sizing: border-box;
    margin: 0;
}
h1 {
    font-size: 2rem;
}

pre {
    overflow: auto;
    font-size: 0.7rem;
}

@media only screen and (min-width: 425px) {
    html {
    }
}
@media only screen and (min-width: 768px) {
    html {
    }
    .container {
        width: 768px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1024px) {
    html {
        font-size: 17px;
    }
}
@media only screen and (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}
